@import "tailwindcss";

:root {
  --background: #fffbeb;
  --foreground: #1a1a1a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a0a;
    --foreground: #1a1a1a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

input, select, textarea {
  color: #1a1a1a;
  background: #ffffff;
}